<h1>My tasks</h1>
<div class="list">
  <% @tasks.each do |task| %>
  <div class="card">
    <div class="dot <%= task.completed ? 'done' : '' %>"></div>
    <p><%= link_to task.title, task_path(task) %></p>
    <span> <%= link_to "[x]",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %> </span>
  </div>
  <% end %>
</div>

<%= link_to 'Add +', new_task_path %>
